:root {
    /* Regular colors */
    --grey: rgb(32, 32, 40);
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
    --niceTeal: rgb(0, 96, 128);
    --green: rgb(0, 128, 64);
    --mint: rgb(0, 192, 96);
    --red: rgb(128, 0, 64);
    --nonPastelGreen: rgb(144, 223, 160);

    /* Pastel colors */
    --cloudy: rgba(255, 255, 255, 0.5);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelBlue: rgba(128, 186, 255, 0.75);
    --pastelRed: rgba(223, 144, 174, 0.75);
    --pastelTeal: rgba(128, 206, 206, 0.75);
}

#links {
    display: flex;
    justify-content: center;
    border-color: var(--green);
}

#links a {
    flex: 1 1;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

#header, #root, .page, .booktext, .book div, .searchBooks, .searchedbooks, .bookclicks, .favclicks {
    border-width: 0;
    padding: 0;
    margin: 0;
}

#header h1 {
    background-color: var(--pastelGreen);
}

.page h2 {
    background-color: var(--pastelBlue);
}

#input {
    display: flex;
    justify-content: center;
}

.bookdiv {
    display: flex;
}

.book img {
    flex: 0.33 0.33;
    object-fit: contain;
    color: white;
    border-width: 0;
}

.book a {
    text-align: center;
}

.booktext {
    display: flex;
    flex-direction: column;
}

/* .bookclicks, .favclicks {
    display: flex;
    justify-content: center;
} */

.bookclicks a, .favclicks a {
    background-color: var(--pastelBlue);
}

.bookclicks button {
    background-color: var(--pastelGreen);
}

.favclicks button {
    background-color: var(--pastelRed);
}

@media screen and (max-width: 768px) {
    .bookdiv {
        flex-direction: column;
        justify-content: center;
    }
    img {
        width: 50%;
    }
}